.callout-container{
  background: url(../images/whiskey-glass-3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
 
}
.navbar{
    background-color: black;
}
.navbar-nav{
    color: white;
}
.navbar-btn{
    color: black;
    background-color: orange;
    border-radius: 23px;
    border-color: transparent;
}

.jumbotron{
    background-color: transparent;
    color: white;
}
.text-muted{
    color: white;
}
.btn-cta{
    color: black;
    background-color: orange;
    border-radius:23px;
}
.quotes-container{
    background-color:orange;
}

.features-container{
    color:orange;
    background-color:black;
}

.favourites-container{
    
}
